<% if current_user %>

<h1>Welcome <%= @user.email %> </h1>

<%= link_to "Profile", user_path(current_user), method: :get %>

<%= link_to "Logout", sessions_path, method: :delete %> 

<% else %>

<h1>Welcome</h1>

<%= link_to "Signup", sign_up_path, method: :get %>

<span>or</span>

<%= link_to "Login", login_path, method: :get %>

<% end %>